#frm{
  width: 38%;
  margin: auto;
  margin-top: 5%;

}
#login{
 display: flex;
  width: 70%;
  justify-content: center;
 margin: auto;
  margin-top:10% ;
}
button{
  background: #4652C2;
}
button:hover{
  background: #4652C2;
}

h1{
  display: flex;
  justify-content: center;
  color: #6C6C6C;
}
