<div class="container-fluid">
  <div class="row inline-block-row" style="display: flex;justify-content: center;">
    <div *ngFor="let product of cartDetails" class="col-sm-12 col-md-6 col-lg-3"  [style]="{width: '400px'}">
 <p-card [style]="{width: '360px'}" styleClass="p-card-shadow" class="col-sm-12 md-6 lg-3">
  <ng-template pTemplate="header">
    <img alt="Null" src="{{product.photo}}" style="height: 400px !important">
  </ng-template>
    <p>{{product.productName}}</p>
    <p>{{product.description}}</p>
    <p style="float: left">Size: {{product.size}}</p>
    <p style="float: right">Price: {{product.price}} $</p>
  <ng-template pTemplate="footer">
    <button pButton type="button" label="Cancel" class="p-button-danger" icon="pi pi-times" iconPos="right" (click)="deleteItem(product.id)"></button>
  </ng-template>
</p-card>
    </div>
  </div>

  <div style="display:flex; float: right ;margin-top: 5px">

    <button id="login" type="submit" class="btn btn-primary btn-block mb-4"  (click)="show()"> Check Out</button>
  </div>
</div>
