/* You can add global styles to this file, and also import other style files */
html ,body{
  font-family: Roboto;
  background: #FFFFFF;
  color: #000000;
}
button,div,h1,p{
  font-family: Roboto;

}
